<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header/header') %>

<body>

    <!--Loading Container Start-->
    <div id="load" class="loading-overlay display-flex flex-column justify-content-center align-items-center">
        <div class="primary-color font-28 fas fa-spinner fa-spin"></div>
    </div>
    <!--Loading Container End-->
    <div id="container" class="container"></div>
    <!--Main Menu Start-->
    <%- include('../partials/menu/menu') %>
    <!--Main Menu End-->

    <!-- Modal Cart Start-->
    <a class="chat-icon-wrapper" href="#showCart">
        <div id="badge">5</div>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="80" height="80" viewBox="0 0 172 172" class="shopping-cart-icon"
            style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none" stroke="none"></path>
                <g id="original-icon" fill="#ffffff" stroke="none" opacity="0" visibility="hidden">
                    <path
                        d="M21.5,17.2c-4.72418,0 -8.6,3.87582 -8.6,8.6c0,4.72418 3.87582,8.6 8.6,8.6c4.72418,0 8.6,-3.87582 8.6,-8.6c0,-1.30879 -0.32187,-2.53913 -0.85244,-3.65332c7.14533,1.89041 12.7495,7.76916 14.08418,15.34814l16.1292,91.59336c1.02639,5.81826 5.83934,10.0812 11.63184,10.56523c-1.41466,1.82064 -2.29277,4.07662 -2.29277,6.54658c0,5.91159 4.83841,10.75 10.75,10.75c5.91159,0 10.75,-4.83841 10.75,-10.75c0,-2.42512 -0.84443,-4.64604 -2.21299,-6.45h8.77217c-0.03655,-0.71595 -0.10918,-1.4233 -0.10918,-2.15c0,-0.7267 0.07263,-1.43405 0.10918,-2.15h-17.30918h-7.38223c-4.1796,0 -7.74312,-2.99203 -8.46982,-7.10928l-2.91426,-16.54072h45.1542c1.2556,-1.5394 2.64688,-2.9584 4.11103,-4.3h-50.02109l-10.18311,-57.83584l100.13037,8.17588l-9.37686,39.06113c1.4534,0.10535 2.88755,0.2796 4.2958,0.5333l10.43506,-43.47451l-106.25703,-8.67139l-1.49912,-8.53701c-1.9952,-11.32835 -11.79057,-19.55156 -23.29307,-19.55156zM21.5,21.5c2.40029,0 4.3,1.89971 4.3,4.3c0,2.40029 -1.89971,4.3 -4.3,4.3c-2.40029,0 -4.3,-1.89971 -4.3,-4.3c0,-2.40029 1.89971,-4.3 4.3,-4.3zM73.1,62.35c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM86,62.35c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM98.9,62.35c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM111.8,62.35c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM124.7,62.35c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM73.1,70.95c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM86,70.95c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM98.9,70.95c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM111.8,70.95c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM124.7,70.95c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM73.1,79.55c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM86,79.55c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM98.9,79.55c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM111.8,79.55c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM124.7,79.55c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM73.1,88.15c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM86,88.15c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM98.9,88.15c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM111.8,88.15c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM124.7,88.15c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM73.1,96.75c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM86,96.75c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM98.9,96.75c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM111.8,96.75c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15zM137.6,103.2c-18.9673,0 -34.4,15.4327 -34.4,34.4c0,18.9673 15.4327,34.4 34.4,34.4c18.9673,0 34.4,-15.4327 34.4,-34.4c0,-18.9673 -15.4327,-34.4 -34.4,-34.4zM137.6,107.5c16.598,0 30.1,13.502 30.1,30.1c0,16.598 -13.502,30.1 -30.1,30.1c-16.598,0 -30.1,-13.502 -30.1,-30.1c0,-16.598 13.502,-30.1 30.1,-30.1zM136.28984,120.01367v2.80928c-5.7362,0.48805 -9.19629,3.63948 -9.19629,8.44043c0,4.0678 2.5459,6.83646 7.24365,7.99531l1.95264,0.46611v8.66719c-2.82725,-0.3053 -4.67995,-1.93282 -4.8627,-4.21182h-4.96348c0.01935,4.7988 3.76112,8.01194 9.82197,8.37744v2.62871h2.80928v-2.64551c6.1232,-0.5074 9.64141,-3.66108 9.64141,-8.70498c0.00215,-4.29355 -2.45933,-6.91739 -7.62578,-8.11709l-2.01562,-0.42832v-8.23467c2.44025,0.32465 4.14742,1.99174 4.20762,4.08584h4.86269c-0.10105,-4.57735 -3.63941,-7.83275 -9.07031,-8.31865v-2.80928zM136.28984,127.03057v7.66778c-2.7262,-0.56975 -4.16982,-1.91108 -4.16982,-3.86328c0,-2.0769 1.75107,-3.66044 4.16982,-3.80449zM79.55,139.75c3.5877,0 6.45,2.8623 6.45,6.45c0,3.5877 -2.8623,6.45 -6.45,6.45c-3.5877,0 -6.45,-2.8623 -6.45,-6.45c0,-3.5877 2.8623,-6.45 6.45,-6.45zM139.09492,140.25391c3.21425,0.62995 4.67793,1.92889 4.67793,4.10684c0,2.40155 -1.70663,3.88629 -4.67793,4.06904zM79.55,144.05c-1.18741,0 -2.15,0.96259 -2.15,2.15c0,1.18741 0.96259,2.15 2.15,2.15c1.18741,0 2.15,-0.96259 2.15,-2.15c0,-1.18741 -0.96259,-2.15 -2.15,-2.15z">
                    </path>
                </g>
                <g id="subtracted-icon" fill="#ffffff" stroke="none">
                    <path
                        d="M24.27988,17.2c11.5025,0 21.29787,8.22321 23.29307,19.55156l1.49912,8.53701l106.25703,8.67139l-10.43506,43.47451c-1.40825,-0.2537 -2.8424,-0.42795 -4.2958,-0.5333l9.37686,-39.06113l-100.13037,-8.17588l10.18311,57.83584h47.69912c-1.26109,1.23471 -2.30651,2.68886 -3.07382,4.3l-43.86944,0l2.91426,16.54072c0.7267,4.11725 4.29022,7.10928 8.46982,7.10928h24.69141c-0.03655,0.71595 -0.10918,1.4233 -0.10918,2.15c0,0.7267 0.07263,1.43405 0.10918,2.15h-8.77217c1.36856,1.80396 2.21299,4.02488 2.21299,6.45c0,5.91159 -4.83841,10.75 -10.75,10.75c-5.91159,0 -10.75,-4.83841 -10.75,-10.75c0,-2.46997 0.87811,-4.72594 2.29277,-6.54658c-5.7925,-0.48403 -10.60544,-4.74697 -11.63184,-10.56523l-16.1292,-91.59336c-1.33468,-7.57899 -6.93885,-13.45773 -14.08418,-15.34814c0.53057,1.11419 0.85244,2.34453 0.85244,3.65332c0,4.72418 -3.87582,8.6 -8.6,8.6c-4.72418,0 -8.6,-3.87582 -8.6,-8.6c0,-4.72418 3.87582,-8.6 8.6,-8.6zM17.2,25.8c0,2.40029 1.89971,4.3 4.3,4.3c2.40029,0 4.3,-1.89971 4.3,-4.3c0,-2.40029 -1.89971,-4.3 -4.3,-4.3c-2.40029,0 -4.3,1.89971 -4.3,4.3zM75.25,64.5c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM88.15,64.5c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM101.05,64.5c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM113.95,64.5c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM126.85,64.5c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM75.25,73.1c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM88.15,73.1c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM101.05,73.1c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM113.95,73.1c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM126.85,73.1c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM75.25,81.7c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM88.15,81.7c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM101.05,81.7c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM113.95,81.7c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM126.85,81.7c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM75.25,90.3c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM88.15,90.3c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM101.05,90.3c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM113.95,90.3c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM126.85,90.3c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM75.25,98.9c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM88.15,98.9c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM101.05,98.9c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM113.95,98.9c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15zM73.1,146.2c0,3.5877 2.8623,6.45 6.45,6.45c3.5877,0 6.45,-2.8623 6.45,-6.45c0,-3.5877 -2.8623,-6.45 -6.45,-6.45c-3.5877,0 -6.45,2.8623 -6.45,6.45zM81.7,146.2c0,1.18741 -0.96259,2.15 -2.15,2.15c-1.18741,0 -2.15,-0.96259 -2.15,-2.15c0,-1.18741 0.96259,-2.15 2.15,-2.15c1.18741,0 2.15,0.96259 2.15,2.15z">
                    </path>
                </g>
                <g stroke="none">
                    <g id="Layer_1" fill="#cccccc">
                        <path
                            d="M161.25,107.5h-43c-5.92755,0 -10.75,4.82245 -10.75,10.75v43c0,5.92755 4.82245,10.75 10.75,10.75h43c5.92755,0 10.75,-4.82245 10.75,-10.75v-43c0,-5.92755 -4.82245,-10.75 -10.75,-10.75zM167.7,161.25c0,3.5561 -2.8939,6.45 -6.45,6.45h-43c-3.5561,0 -6.45,-2.8939 -6.45,-6.45v-43c0,-3.5561 2.8939,-6.45 6.45,-6.45h43c3.5561,0 6.45,2.8939 6.45,6.45z">
                        </path>
                    </g>
                    <g id="Layer_1" fill="#ffffff" opacity="0">
                        <path
                            d="M161.25,103.2h-43c-8.299,0 -15.05,6.751 -15.05,15.05v43c0,8.299 6.751,15.05 15.05,15.05h43c8.299,0 15.05,-6.751 15.05,-15.05v-43c0,-8.299 -6.751,-15.05 -15.05,-15.05z">
                        </path>
                    </g>
                </g>
                <path d="M107.5,172v-64.5h64.5v64.5z" id="overlay-drag" fill="#ff0000" stroke="none" opacity="0"></path>
            </g>
        </svg>


        </div>
    </a>
    <div class="modal" id="showCart">

        <div class="modal-content">
            <a href="#" title="Close" class="modal-close">X</a>
            <div class="container">
                <h2>Orden #123654</h2>
                <div class="shopping-cart">

                    <div class="column-labels">
                        <label class="product-image">Image</label>
                        <label class="product-details">Product</label>
                        <label class="product-price">Price</label>
                        <label class="product-quantity">Quantity</label>
                        <label class="product-removal">Remove</label>
                        <label class="product-line-price">Total</label>
                    </div>

                    <div class="product">
                        <div class="product-image">
                            <img src="./images/menuImg/profile_1533634102.png" class="img-fluid detail-product-img"
                                alt="Responsive image">
                        </div>
                        <div class="product-details">
                            <div class="product-title">Dingo Dog Bones</div>
                            <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be
                                begging for these things! I got curious once and ate one myself. I'm a fan.</p>
                        </div>
                        <div class="product-price">12.99</div>
                        <div class="product-quantity">
                            <input type="number" value="2" min="1">
                        </div>
                        <div class="product-removal">
                            <button class="remove-product">
                                Remove
                            </button>
                        </div>
                        <div class="product-line-price">25.98</div>
                    </div>

                    <div class="product">
                        <div class="product-image">
                            <img src="./images/menuImg/profile_1533634102.png" class="img-fluid detail-product-img"
                                alt="Responsive image">
                        </div>
                        <div class="product-details">
                            <div class="product-title">Nutro™ Adult Lamb and Rice Dog Food</div>
                            <p class="product-description">Who doesn't like lamb and rice? We've all hit the halal cart
                                at 3am while quasi-blackout after a night of binge drinking in Manhattan. Now it's your
                                dog's turn!</p>
                        </div>
                        <div class="product-price">45.99</div>
                        <div class="product-quantity">
                            <input type="number" value="1" min="1">
                        </div>
                        <div class="product-removal">
                            <button class="remove-product">
                                Remove
                            </button>
                        </div>
                        <div class="product-line-price">45.99</div>
                    </div>

                    <div class="totals">
                        <div class="totals-item">
                            <label>Subtotal</label>
                            <div class="totals-value" id="cart-subtotal">71.97</div>
                        </div>
                        <div class="totals-item">
                            <label>Tax (7%)</label>
                            <div class="totals-value" id="cart-tax">3.60</div>
                        </div>
                        <div class="totals-item">
                            <label>Shipping</label>
                            <div class="totals-value" id="cart-shipping">15.00</div>
                        </div>
                        <div class="totals-item totals-item-total">
                            <label>Grand Total</label>
                            <div class="totals-value" id="cart-total">90.57</div>
                        </div>
                    </div>

                    <button class="checkout">Checkout</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal Cart End-->

    <!-- Modal Product Start-->
    <div id="modal" class="modal">
        <div class="modal-content">
            <a href="#" title="Close" class="modal-close">X</a>
            <div id="main_content">
                <div class="container detail-section-2">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-12">
                            <img src="./images/menuImg/profile_1533634102.png" class="img-fluid detail-product-img"
                                alt="Responsive image">
                        </div>
                        <input type="hidden" name="item_id" id="item_id" value="3">
                        <div class="col-lg-7 col-md-7 col-sm-6 col-12">
                            <div class="detail-product-box">
                                <div class="detail-descri">
                                    <div class="detail-product-head">
                                        <h4>California Turkey Burger</h4>
                                        <input type="hidden" name="menu_name" id="menu_name"
                                            value="California Turkey Burger">
                                        <p> €<span id="price">7.50</span></p>
                                        <input type="hidden" id="origin_price" name="origin_price" value="7.50">
                                    </div>
                                    <div class="detail-product-content">
                                        <p>Avocado, Cucumber, Feta Cheese, Pico de gallo, Chipotle Ranch and Lettuce on
                                            Wheat Bun</p>
                                    </div>

                                </div>
                                <div class="detail-ingredients">
                                    <div class="detail-ingredients-heading">
                                        <h2>Ingredients</h2>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="detail-ingredients-head detail-ingredients-head-1">
                                                <h3>Free Ingredients</h3>
                                                <form>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-0" class="checkbox-custom"
                                                            name="interdient" value="31">
                                                        <label for="checkbox-0" class="checkbox-custom-label">
                                                            Wheat Bun
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-1" class="checkbox-custom"
                                                            name="interdient" value="32">
                                                        <label for="checkbox-1" class="checkbox-custom-label">
                                                            No Salt
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-2" class="checkbox-custom"
                                                            name="interdient" value="33">
                                                        <label for="checkbox-2" class="checkbox-custom-label">
                                                            Pepper Jack
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-3" class="checkbox-custom"
                                                            name="interdient" value="34">
                                                        <label for="checkbox-3" class="checkbox-custom-label">
                                                            Swiss Cheese
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-4" class="checkbox-custom"
                                                            name="interdient" value="35">
                                                        <label for="checkbox-4" class="checkbox-custom-label">
                                                            BBQ Sauce
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-5" class="checkbox-custom"
                                                            name="interdient" value="259">
                                                        <label for="checkbox-5" class="checkbox-custom-label">
                                                            testdata
                                                        </label>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="detail-ingredients-head">
                                                <h3>Paid Ingredients</h3>
                                                <form>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-6" class="checkbox-custom"
                                                            name="interdient" value="25" onclick="addprice('1.0','6')">
                                                        <label for="checkbox-6" class="checkbox-custom-label">
                                                            Texas Toast
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-7" class="checkbox-custom"
                                                            name="interdient" value="26" onclick="addprice('1.0','7')">
                                                        <label for="checkbox-7" class="checkbox-custom-label">
                                                            Pretzel Bun
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-8" class="checkbox-custom"
                                                            name="interdient" value="27" onclick="addprice('2.50','8')">
                                                        <label for="checkbox-8" class="checkbox-custom-label">
                                                            Add Patty
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-9" class="checkbox-custom"
                                                            name="interdient" value="28" onclick="addprice('0.80','9')">
                                                        <label for="checkbox-9" class="checkbox-custom-label">
                                                            Cheese
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-10" class="checkbox-custom"
                                                            name="interdient" value="29"
                                                            onclick="addprice('0.80','10')">
                                                        <label for="checkbox-10" class="checkbox-custom-label">
                                                            Sub Veggie
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" id="checkbox-11" class="checkbox-custom"
                                                            name="interdient" value="30" onclick="addprice('1.0','11')">
                                                        <label for="checkbox-11" class="checkbox-custom-label">
                                                            Feta Cheese
                                                        </label>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-plus-button min-add-button">
                                    <div class="input-group">
                                        <a data-decrease="">
                                            <i class="fa fa-minus" aria-hidden="true" onclick="decreaseValue()"></i>
                                        </a>
                                        <input type="text" id="number" name="qty" value="1">
                                        <a data-increase="">
                                            <i class="fa fa-plus" aria-hidden="true" onclick="increaseValue()"></i>
                                        </a>
                                    </div>
                                </div>
                                <a href="javascript:addtocart()">
                                    <div class="detail-plus-add-cart">
                                        <span>Add to cart</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--Modal End-->
    </div>
    <!-- Modal Cart Product-->

    <!-- Modal Start PROMOCODE-->
    <div class="modal fade" id="promoCode" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content search">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="rest-container mt-15">
                                <div class="text-center header-icon-logo-margin header-icon-logo-margin-extra">
                                    <img src="../images/logo-main.svg" alt="Main Logo">
                                </div>
                                <div class="address-title">Código Promocional</div>

                                <!--Promocode Container Start-->
                                <div class="promocode-container pb-0">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span>
                                                    <img src="../icons/ticket.svg" alt="Ticket Promo Icon">
                                                </span>
                                            </div>
                                            <input class="form-control" type="text" autocomplete="off" name="promo"
                                                placeholder="Código de promocion">
                                        </div>
                                    </div>
                                    <div class="activate-btn">
                                        <a href="/index-user" type="button"
                                            class="btn btn-dark font-weight-normal">Activar</a>
                                    </div>
                                </div>
                                <!--Promocode Container End-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal End PROMOCODE-->

    <!-- Modal Start INFOTRAVEL-->
    <div id="messageContainer">
        <plugdo-show-travel style="display: none;" src="/component/mostrar-recorrido.html"></plugdo-show-travel>
    </div>
    <!--Modal End INFOTRAVER-->
    <%- include('../partials/scripts/scripts') %>
</body>

</html>